@font-face {
    font-family: "Means Web";
    src: url("../fonts/fontawesome-webfont.woff");
}

@font-face {
    font-family: "Graphik";
    src: url("../fonts/GraphikRegular.otf");
}

body {
    background-image: url("../img/backimage.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

h1 {
    font-family: "Means Web";
    font-weight: bold;
}

.row-caja {
    width: 90%;
    margin: 60px auto;
    padding-bottom: 48px;
    height: auto;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(225, 225, 225, 0.3), rgba(225, 225, 225, 0.2));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-family: Graphik;
    line-height: 18px;
}

.control-label {
    color: white;
}

.form-control {
    background: rgba(225, 220, 220, 0.3);
    display: inline-block;
    height: 40px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: black;
}

    .form-control:focus {
        background: rgba(225, 220, 220, 0.6);
        border-color: #6c33c2;
        box-shadow: 0 0 0 0.2rem rgba(107, 79, 255, 0.25);
        outline: 0;
    }

.form-group input {
    padding-left: 40px;
}

.form-group {
    position: relative;
}

    .form-group i {
        position: absolute;
        left: 5px;
        top: 27px;
        padding: 9px 8px;
        color: #aaa;
        transition: .2s;
    }

    .form-group input:focus + i,
    .form-group input[type="number"]:focus + i,
    .form-group input[type="date"]:focus + i {
        color: #6b4fff;
    }

select.form-control option {
    background-color: rgba(225, 220, 220, 0.3);
    color: black;
    padding-left: 60px;
}

    select.form-control option:focus + i {
        background-color: rgba(225, 220, 220, 0.6);
        color: #6b4fff;
    }

    
label.control-label sup {
    color: #FF3245;
}

.icon-user-tie {
    position: relative;
}

    .icon-user-tie::before {
        content: "\f508";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 5px;
    }

.fa-solid fa-chevron-left {
    position: relative;
}

    .fa-solid fa-chevron-left::before {
        content: "\f508";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 5px;
    }

.btn-custom {
    background-color: #D52838;
    height: 45px;
    width: 150px;
    border-radius: 20px;
    transition: 0.2s;
    outline: none !important;
    box-shadow: none;
}

    .btn-custom:hover {
        background-color: #D52838;
        cursor: pointer;
        opacity: 0.9;
        outline: none !important;
        box-shadow: none;
    }

    .btn-custom:focus {
        background-color: #D52838;
        cursor: pointer;
        opacity: 0.8;
        outline-color: #D52838;
        box-shadow: none;
    }


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
