@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Si quieres ingresar</p>
<a class="btn btn-outline-success my-2 my-sm-0" asp-controller="CargarSesion" asp-action="Index">
    <i class="bi bi-box-arrow-in-right"></i> Log in
</a>