@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html >

    <head>
        <link rel="stylesheet" href="~/css/estilosGeneros.css">
    </head>

    <body>
        <h2>CREAR UN CARRUSEL DE LOS 5 GENEROS</h2>
    </body>

</html>